body {
	font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

#content {
	margin: auto;
	width: 550px;
	height: 300px;
}

#clock {
	float: left;
	width: 55%;
	height: 100%;
	background: #1f3751;
	border-radius: 15px 0 0 15px;
}

#timer {
	margin: 10% 10%;
	padding-top: 27%;
	width: 80%;
	height: 80%;
	text-align: center;
	background: #1d2f46;
	color: #41a9f0;
	font-size: 45px;
	border-radius: 50%;
	border: solid #41a9f0 7px;
	box-sizing: border-box;
}

#scores {
	float: right;
	width: 45%;
	height: 100%;
	background: #1d2f46;
	color: #41a9f0;
	overflow-y: auto;
	border-radius: 0 15px 15px 0;
	padding: 5px 0;
	box-sizing: border-box;
}

.score {
	display: inline-block;
	text-align: center;
	width: 33%;
}

.score:hover {
	background: #f1f1f1;
	color: black;
	cursor: pointer;
}

#options {
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	margin-bottom: 3px;
	border-bottom: solid #41a9f0 2px;
}

#options button {
	background: transparent;
	color: #41a9f0;
	font-size: 15px;
	border: none;
}

#options button:hover {
	background: #f1f1f1;
	color: black;
	cursor: pointer;
}
